* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainContainer {
    width: 60%;
    margin: 0 auto;
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;
}

/* .card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */


.main-comment, .reply-header {
  margin-top: 0.8rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-header {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: space-evenly;
}

.reply-header {
  justify-content: space-around;
}

.card .name {
  font-weight: bold;
}
.card .content {
  margin-top: .5rem;
}

.profile-card {
    display: flex;
    justify-content: space-between;
}

.profile-card > div {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 1rem;
}

.menu-div {
    gap: 2rem;
}

.upvote {
    width: 10%;
    background-color: rgba(225, 240, 235, 0.466);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    flex-direction: column;
}

.profile > img , #formDiv img {
    width: 40px;
}

#formDiv {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 0;

  background: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.div-style {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


#myform {
  width: 80%;
}

#textareaDiv {
   width: 90%;
}

#getInput {
  width: 95%;
  height: 30px;
  border: none;
  padding: 1rem;
  border: 2px solid rgb(200, 202, 218);
  border-radius: 3px;
  resize: none;
}

.sub-button {
  padding: 0.5rem 1rem;
  background-color: blue;
  border: none;
  color: whitesmoke;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.5rem;

}

.menu {
  display: flex;
  /* justify-content: center; */
   align-items: center;
   gap: 0.3rem;

}


.edit-textarea {
  /* width: 100%; */
  height: 60px;
  padding: 6px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}

.updateBtn {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer;
}

.updateBtn:hover {
  background-color: royalblue;
}


.reply-card {
  margin-top: 0.8rem;
  margin-left: 3rem;

  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.reply-box {
  display: flex;
}